*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width-container: 80%;
    --fixed-margin: 30px;
    --box-height: 120px;
    --n-box-row: 3; /* numero di boxes per riga */
  }

body {
    font-family: "Fredoka One", sans-serif;
}

h1{
    color: #E53170;
    margin-top: var(--fixed-margin);
    margin-bottom: var(--fixed-margin);
}

h4, p{
    margin-bottom: 6px;
}

.header_container{
    width: var(--width-container);
    margin: auto;
    text-align: center;
}

.main_container{
    width: var(--width-container);
    margin: 0 auto;
    margin-top: var(--fixed-margin);
    margin-bottom: var(--fixed-margin);
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.box_spec{
    height: var(--box-height);
    background-color: #0F0E17;
    color: white;
}

.email{
    color: #13A2E4;
}

/* START -- struttura a 2 colonne */
.container_sub_box_1{
    float: right;
    width: 70%;
    margin-top: 7%;
    padding-left: 5%;
}

.container_sub_box_2{
    float: left;
    width: 30%;
    height: 100%;
}

.bg_img_1{
    background: url(../../assets/img/male1.png) no-repeat;
    background-size: cover;
}

.bg_img_2{
    background: url(../../assets/img/female1.png) no-repeat;
    background-size: cover;
}

.bg_img_3{
    background: url(../../assets/img/male2.png) no-repeat;
    background-size: cover;
}

.bg_img_4{
    background: url(../../assets/img/female2.png) no-repeat;
    background-size: cover;
}

.bg_img_5{
    background: url(../../assets/img/male3.png) no-repeat;
    background-size: cover;
}

.bg_img_6{
    background: url(../../assets/img/female3.png) no-repeat;
    background-size: cover;
}
/* END -- struttura a 2 colonne */

/* START -- struttura a 3 colonne */
.container_box_1{
    float: left;
    width: 30%;
    box-shadow: 3px 3px 10px #CCCCCB;
}

.container_box_2{
    float: left;
    width: 30%;
    margin-left: 5%;
    box-shadow: 3px 3px 10px #CCCCCB;
}

.container_box_3{
    float: right;
    width: 30%;
    box-shadow: 3px 3px 10px #CCCCCB;
}
/* END -- struttura a 3 colonne */